BASE_URL=https://{{ plausible_url }}:443
SECRET_KEY_BASE={{ plausible_secret_key }}
DISABLE_REGISTRATION={{ plausible_disable_registration }}
DATABASE_URL=postgres://plausible:{{plausible_db_password}}@plausible_db/plausible
CLICKHOUSE_DATABASE_URL=http://plausible_events_db:8123/plausible_events_db
{% if plausible_use_smtp %}
MAILER_EMAIL={{ plausible_smtp_user }}
SMTP_HOST_ADDR={{ plausible_smtp_host }}
SMTP_HOST_PORT={{ plausible_smtp_port }}
SMTP_USER_NAME={{ plausible_smtp_user }}
SMTP_USER_PWD={{ plausible_smtp_pwd }}
SMTP_HOST_SSL_ENABLED={{ plausible_smtp_ssl }}
{% endif %}
{% if plausible_use_googlesearchintegration %}
GOOGLE_CLIENT_ID={{ plausible_google_client_id }}
GOOGLE_CLIENT_SECRET={{ plausible_google_client_secret }}
{% endif %}
